root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets,xml,xaml}]
indent_size = 2

[*.{ps1,psm1}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
